* {
    margin: 0px;
    padding: 0px;
}

.content #left {
    width: 1050px;
    float: left;
    min-height: 640px;
}

#left #left1 {
    background: lightgrey;
    width: 700px;
    min-height: 600px;
    float: left;
}

#left #left1 .news {
    clear: left;
    margin-top: 10px;
}

#left #left1 .news a {
    background: lightgrey;
    width: 700px;
    text-decoration: none;
}

#left #left1 .news h2 {
    color: red;
}

#left #right1 {
    width: 350px;
    background: lightgrey;
    min-height: 540px;
    float: left;
}

#left #right1 ul {
    list-style: none;
}

#left #right1 ul li {
    list-style: none;
    text-decoration: none;
}

#left #right1 ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 27px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#left #right1 #right1-2 h2 {
    color: red;
    padding-top: 10px;
}

.content #right {
    width: 450px;
    float: right;
    min-height: 640px;
}

.content #right p {
    list-style: none;
    float: left;
}

.content #right li {
    list-style: none;
    float: right;
    text-decoration: none;
}

.content #right li a {
    list-style: none;
    float: right;
    text-decoration: none;
    padding-right: 10px;
}